In [3]:
pip install seaborn

Requirement already satisfied: seaborn in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/jeevanapathipati/Documents/MachineLearning/conda-env/mlenv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
traffic_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/traffic_table_cleaned.csv')
route_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/routes_table.csv')
city_weather_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/city_weather_cleaned.csv')
drivers_table_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/drivers_table.csv')
routes_table = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/raw/routes_table.csv')
route_weather_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/routes_weather_cleaned.csv')
truck_schedule_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/truck_schedule_table_cleaned.csv')
truck_df = pd.read_csv('/Users/jeevanapathipati/Documents/TruckDelay/data/cleaned/trucks_table_cleaned.csv')

In [6]:
# Merge Truck Schedule with Routes and Trucks
merged_data_df1 = pd.merge(truck_schedule_df, route_df, on='route_id', how='inner')

In [7]:
merged_data_df1.shape

(11449, 9)

In [8]:
merged_data_df1.isnull().sum()

truck_id             0
route_id             0
departure_date       0
estimated_arrival    0
delay                0
origin_id            0
destination_id       0
distance             0
average_hours        0
dtype: int64

In [9]:
merged_data_df1.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'origin_id', 'destination_id', 'distance', 'average_hours'],
      dtype='object')

In [10]:
merged_data_df2 = pd.merge(merged_data_df1, truck_df, on='truck_id', how='inner')

In [11]:
merged_data_df2.shape

(11449, 13)

In [12]:
merged_data_df2.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
origin_id               0
destination_id          0
distance                0
average_hours           0
truck_age               0
load_capacity_pounds    0
mileage_mpg             0
fuel_type               0
dtype: int64

In [13]:
merged_data_df2.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type'],
      dtype='object')

In [14]:
merged_data_df2.head(6)

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,load_capacity_pounds,mileage_mpg,fuel_type
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,3000.000000,23,diesel
1,59856374,R-29ea762e,2019-01-01 07:00:00,2019-01-02 04:01:12.000000000,0,C-927ceb5e,C-639c5e36,1050.84,21.02,7,15000.000000,21,diesel
2,12602955,R-a3d67783,2019-01-01 07:00:00,2019-01-01 07:45:36.000000000,0,C-927ceb5e,C-a9f2c329,38.10,0.76,10,3000.000000,26,diesel
3,46619422,R-31ec9310,2019-01-01 07:00:00,2019-01-01 20:46:48.000000000,0,C-927ceb5e,C-c7cacd1d,688.91,13.78,12,8610.619469,27,diesel
4,10140178,R-a07c5dbd,2019-01-01 07:00:00,2019-01-01 21:34:11.999999999,0,C-927ceb5e,C-ef47bdcd,728.40,14.57,12,3000.000000,23,diesel
5,22653688,R-af4b19be,2019-01-01 07:00:00,2019-01-01 15:39:36.000000000,0,C-927ceb5e,C-84f378bb,433.01,8.66,8,6000.000000,22,diesel

In [15]:
merged_data_df2['departure_date_only'] = pd.to_datetime(merged_data_df2['departure_date']).dt.date

In [16]:
route_weather_df['Date'] = pd.to_datetime(route_weather_df['Date']).dt.date
traffic_df['date'] = pd.to_datetime(traffic_df['date']).dt.date

In [17]:
route_weather_df.head(2)

,route_id,Date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,R-ada2a391,2019-01-01,30,11,Heavy snow,0.0,90,1,1010
1,R-ada2a391,2019-01-01,30,11,Heavy snow,0.0,91,3,1012

In [18]:
traffic_df.head(2)

     route_id        date  hour  no_of_vehicles  accident
0  R-ada2a391  2019-01-01     0           669.0         0
1  R-ada2a391  2019-01-01   100           628.0         0

In [19]:
# Merge Route Weather and Traffic

merged_data_df3 = pd.merge(merged_data_df2, route_weather_df, left_on=['route_id', 'departure_date_only'], right_on=['route_id', 'Date'], how='inner')

In [20]:
#because there are multiple weather records for the same route on the same date
merged_data_df3.shape

(42576, 22)

In [21]:
merged_data_df3.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
origin_id               0
destination_id          0
distance                0
average_hours           0
truck_age               0
load_capacity_pounds    0
mileage_mpg             0
fuel_type               0
departure_date_only     0
Date                    0
temp                    0
wind_speed              0
description             0
precip                  0
humidity                0
visibility              0
pressure                0
dtype: int64

In [22]:
merged_data_df3.head(5)

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,fuel_type,departure_date_only,Date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,39,4,Light rain,0.0,97,6,1008
1,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,39,5,Light rain,0.0,98,6,1008
2,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,23,4,Clear,0.0,76,6,1011
3,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,diesel,2019-01-01,2019-01-01,23,4,Clear,0.0,73,6,1011
4,59856374,R-29ea762e,2019-01-01 07:00:00,2019-01-02 04:01:12.000000000,0,C-927ceb5e,C-639c5e36,1050.84,21.02,7,...,diesel,2019-01-01,2019-01-01,21,14,Partly cloudy,0.0,83,6,1028

In [23]:
# Merge Route Weather and Traffic

merged_data_df4 = pd.merge(merged_data_df3, traffic_df, left_on=['route_id', 'departure_date_only'], right_on=['route_id', 'date'], how='inner')

In [24]:
merged_data_df4.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
origin_id               0
destination_id          0
distance                0
average_hours           0
truck_age               0
load_capacity_pounds    0
mileage_mpg             0
fuel_type               0
departure_date_only     0
Date                    0
temp                    0
wind_speed              0
description             0
precip                  0
humidity                0
visibility              0
pressure                0
date                    0
hour                    0
no_of_vehicles          0
accident                0
dtype: int64

In [25]:
merged_data_df4.shape

(1022366, 26)

In [26]:
merged_data_df4.head(6)

,truck_id,route_id,departure_date,estimated_arrival,delay,origin_id,destination_id,distance,average_hours,truck_age,...,wind_speed,description,precip,humidity,visibility,pressure,date,hour,no_of_vehicles,accident
0,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,0,669.0,0
1,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,100,628.0,0
2,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,200,516.0,0
3,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,300,582.0,0
4,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,400,564.0,0
5,30312694,R-b236e347,2019-01-01 07:00:00,2019-01-01 13:13:12.000000000,0,C-927ceb5e,C-d80a1e7d,310.75,6.22,9,...,4,Light rain,0.0,97,6,1008,2019-01-01,500,564.0,0

In [27]:
merged_data_df4.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type',
       'departure_date_only', 'Date', 'temp', 'wind_speed', 'description',
       'precip', 'humidity', 'visibility', 'pressure', 'date', 'hour',
       'no_of_vehicles', 'accident'],
      dtype='object')

In [28]:
# Drop unnecessary columns
merged_data_df4.drop(columns=['departure_date_only', 'Date', 'date'], inplace=True)

In [29]:
merged_data_df4.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type', 'temp',
       'wind_speed', 'description', 'precip', 'humidity', 'visibility',
       'pressure', 'hour', 'no_of_vehicles', 'accident'],
      dtype='object')

In [30]:
merged_data_df5 =  pd.merge(merged_data_df4, drivers_table_df, left_on=['truck_id'], right_on=['vehicle_no'], how='left')

In [31]:
merged_data_df5.shape

(1022366, 32)

In [32]:
merged_data_df5.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type', 'temp',
       'wind_speed', 'description', 'precip', 'humidity', 'visibility',
       'pressure', 'hour', 'no_of_vehicles', 'accident', 'driver_id', 'name',
       'gender', 'age', 'experience', 'driving_style', 'ratings', 'vehicle_no',
       'average_speed_mph'],
      dtype='object')

In [36]:
# Convert departure_date to just the date part for merging
#merged_data_df5['departure_date_only'] = pd.to_datetime(merged_data_df5['departure_date']).dt.date

# Convert date in city weather for merging
#city_weather_df['date'] = pd.to_datetime(city_weather_df['date']).dt.date

In [37]:
#merged_data_df6 = pd.merge(merged_data_df5, city_weather_df, left_on=['origin_id', 'departure_date_only'], right_on=['city_id', 'date'], how='inner', suffixes=('', '_origin_weather'))

In [38]:
#merged_data_df6.shape

In [39]:
# If you also want to include destination weather, repeat for destination_id
#merged_data_df7 = pd.merge(merged_data_df6, city_weather_df, left_on=['destination_id', 'departure_date_only'], right_on=['city_id', 'date'], how='inner', suffixes=('', '_destination_weather'))