# Feature Engineering

In [1]:
import pandas as pd
import numpy as np

In [2]:
import hopsworks

# Log into Hopsworks using your API key
project = hopsworks.login(api_key_value="XFKfGTJB5iMbkc1G.7OjpYGryvNZexk2jMqsZPJ2kvX9SAwstMiYoWsQBVUMYBzDOjhajGNlkx9IbuFsC")

# Access the feature store
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1063063
2024-10-01 02:46:28,294 WARNING: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead

2024-10-01 02:46:28,294 WARNING: using legacy validation callback
Connected. Call `.close()` to terminate connection gracefully.

In [3]:
# Fetching the 7 feature groups from the Hopsworks feature store

# Example of getting feature groups by their names and versions
city_weather_df = fs.get_feature_group("city_weather", version=1).read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.53s)

In [4]:
city_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51834 entries, 0 to 51833
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city_id      51834 non-null  object
 1   temp         51834 non-null  int64
 2   wind_speed   51834 non-null  int64
 3   description  51834 non-null  object
 4   precip       51834 non-null  float64
 5   humidity     51834 non-null  int64
 6   visibility   51834 non-null  int64
 7   pressure     51834 non-null  int64
 8   index        51834 non-null  int64
 9   eventtime    51834 non-null  object
 10  datetime     51834 non-null  datetime64[us, UTC]
dtypes: datetime64[us, UTC](1), float64(1), int64(6), object(3)
memory usage: 4.4+ MB

In [5]:
drivers_df = fs.get_feature_group("drivers_table", version=1).read()
drivers_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.45s)

(1283, 11)

In [6]:
routes_df = fs.get_feature_group("routes_table", version=1).read()
routes_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.40s)

(1810, 7)

In [7]:
routes_weather_df = fs.get_feature_group("routes_weather", version=1).read()
routes_weather_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (4.01s)

(396149, 11)

In [8]:
truck_schedule_df = fs.get_feature_group("truck_schedule_table", version=1).read()
truck_schedule_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.49s)

(12308, 7)

In [9]:
trucks_df = fs.get_feature_group("trucks_table", version=1).read()
trucks_df.shape
#trucks_df.head()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.47s)

(1296, 7)

In [10]:
traffic_df = fs.get_feature_group("traffic_table", version=1).read()
traffic_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (12.93s)

(2458582, 6)

In [11]:
routes_weather_df.head()

,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure,index,eventtime
0,R-7075aabf,2019-01-20 12:00:00+00:00,50,4,Mist,0.0,96,1,1024,322366,2024-10-01
1,R-cbd11d97,2019-01-19 06:00:00+00:00,79,6,Sunny,0.0,63,6,1016,94704,2024-10-01
2,R-77ae4ceb,2019-01-14 00:00:00+00:00,81,4,Moderate or heavy rain shower,0.1,69,4,1018,3667,2024-10-01
3,R-1b9ec3cf,2019-01-16 00:00:00+00:00,66,6,Clear,0.0,88,6,1016,165856,2024-10-01
4,R-25623b63,2019-01-03 12:00:00+00:00,55,6,Clear,0.0,82,6,1009,334011,2024-10-01

In [12]:
routes_weather_df.isnull().sum()

route_id       0
date           0
temp           0
wind_speed     0
description    0
precip         0
humidity       0
visibility     0
pressure       0
index          0
eventtime      0
dtype: int64

In [13]:
city_weather_df['datetime'] = city_weather_df['datetime'].astype(str)

# Now you can use the .str accessor
city_weather_df['datetime'] = city_weather_df['datetime'].str.split('+').str[0]

# Optionally convert back to datetime
city_weather_df['datetime'] = pd.to_datetime(city_weather_df['datetime'])

In [14]:
city_weather_df

,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,index,eventtime,datetime
0,C-3dbd8b2e,34,5,Moderate or heavy sleet,0.1,98,4,1001,19112,2024-10-01,2019-02-09 03:00:00
1,C-e5bfb4e5,14,6,Cloudy,0.0,59,6,1026,17592,2024-10-01,2019-01-18 09:00:00
2,C-731988ba,82,6,Sunny,0.0,49,6,1011,8518,2024-10-01,2019-02-10 13:00:00
3,C-ef47bdcd,25,9,Clear,0.0,68,6,1016,12452,2024-10-01,2019-01-28 01:00:00
4,C-2c9e75ef,27,6,Clear,0.0,59,6,1030,31811,2024-10-01,2019-01-20 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...
51829,C-b6e04c88,14,7,Patchy light snow,0.0,76,6,1033,20765,2024-10-01,2019-01-20 23:00:00
51830,C-b5ff31cd,50,8,Sunny,0.0,80,6,1017,36259,2024-10-01,2019-02-04 13:00:00
51831,C-fc66f0ab,28,6,Sunny,0.0,73,6,1019,34517,2024-10-01,2019-01-03 08:00:00
51832,C-40a81eb1,27,3,Clear,0.0,51,6,1018,30624,2024-10-01,2019-01-15 04:00:00
51833,C-d3bb431c,48,2,Sunny,0.0,54,6,1019,42554,2024-10-01,2019-02-10 15:00:00

In [15]:
traffic_df['datetime'] = traffic_df['datetime'].astype(str)

# Now you can use the .str accessor
traffic_df['datetime'] = traffic_df['datetime'].str.split('+').str[0]

# Optionally convert back to datetime
traffic_df['datetime'] = pd.to_datetime(traffic_df['datetime'])

In [16]:
routes_weather_df['date'] = routes_weather_df['date'].astype(str)

# Now you can use the .str accessor
routes_weather_df['date'] = routes_weather_df['date'].str.split('+').str[0]

# Optionally convert back to datetime
routes_weather_df['date'] = pd.to_datetime(routes_weather_df['date'])

In [17]:
truck_schedule_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   truck_id           12308 non-null  int64
 1   route_id           12308 non-null  object
 2   departure_date     12308 non-null  datetime64[us, UTC]
 3   estimated_arrival  12308 non-null  datetime64[us, UTC]
 4   delay              12308 non-null  int64
 5   index              12308 non-null  int64
 6   eventtime          12308 non-null  object
dtypes: datetime64[us, UTC](2), int64(3), object(2)
memory usage: 673.2+ KB

In [18]:
truck_schedule_df.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,index,eventtime
0,16013013,R-581944e1,2019-02-09 07:00:00+00:00,2019-02-09 17:27:36+00:00,0,8518,2024-10-01
1,14223048,R-4f2e8b29,2019-02-03 07:00:00+00:00,2019-02-03 12:45:00+00:00,0,7091,2024-10-01
2,22748353,R-73f77646,2019-01-25 07:00:00+00:00,2019-01-25 23:32:24+00:00,0,5129,2024-10-01
3,27677000,R-7430e046,2019-01-31 07:00:00+00:00,2019-02-01 01:41:24+00:00,1,6443,2024-10-01
4,33250272,R-d9f80fa7,2019-01-31 07:00:00+00:00,2019-01-31 11:48:36+00:00,0,6231,2024-10-01

In [19]:
# Step 1: Remove the part after the '+' (including any fractional seconds)
truck_schedule_df['estimated_arrival'] = truck_schedule_df['estimated_arrival'].astype(
    str).str.split('+').str[0].str.split('.').str[0]

# Step 2: Convert to datetime without the fractional seconds
truck_schedule_df['estimated_arrival'] = pd.to_datetime(
    truck_schedule_df['estimated_arrival'], format='%Y-%m-%d %H:%M:%S')

# Step 1: Remove the part after the '+' (including any fractional seconds)
truck_schedule_df['departure_date'] = truck_schedule_df['departure_date'].astype(
    str).str.split('+').str[0].str.split('.').str[0]

# Step 2: Convert to datetime without the fractional seconds
truck_schedule_df['departure_date'] = pd.to_datetime(
    truck_schedule_df['departure_date'], format='%Y-%m-%d %H:%M:%S')

In [20]:
truck_schedule_df.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,index,eventtime
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,8518,2024-10-01
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,7091,2024-10-01
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,5129,2024-10-01
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,6443,2024-10-01
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,6231,2024-10-01

In [21]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
# truck_schedule_df = truck_schedule_df.drop(columns=['eventtime'])
# routes_df = routes_df.drop(columns=['eventtime'])
# routes_weather_df = routes_weather_df.drop(columns=['eventtime'])
# city_weather_df = city_weather_df.drop(columns=['eventtime'])
# drivers_df = drivers_df.drop(columns=['eventtime'])
# traffic_df = traffic_df.drop(columns=['eventtime'])
# trucks_df = trucks_df.drop(columns=['eventtime'])

In [23]:
truck_schedule_df = truck_schedule_df.drop(columns=['eventtime','index'])
routes_df = routes_df.drop(columns=['eventtime','index'])
routes_weather_df = routes_weather_df.drop(columns=['eventtime','index'])
city_weather_df = city_weather_df.drop(columns=['eventtime','index'])
drivers_df = drivers_df.drop(columns=['eventtime','index'])
traffic_df = traffic_df.drop(columns=['eventtime','index'])
trucks_df = trucks_df.drop(columns=['eventtime','index'])

In [24]:
city_weather_df.drop_duplicates(subset=['city_id', 'datetime'], inplace=True)
routes_weather_df.drop_duplicates(subset=['route_id', 'date'], inplace=True)
trucks_df.drop_duplicates(subset=['truck_id'], inplace=True)
drivers_df.drop_duplicates(subset=['driver_id'], inplace=True)
routes_df.drop_duplicates(subset=['route_id', 'destination_id', 'origin_id'], inplace=True)
truck_schedule_df.drop_duplicates(subset=['truck_id', 'route_id', 'departure_date'], inplace=True)

In [25]:
routes_weather_df.shape

(396149, 9)

In [26]:
truck_schedule_df.shape

(12308, 5)

In [27]:
routes_df.shape

(1810, 5)

In [28]:
trucks_df.head()

   truck_id  truck_age  load_capacity_pounds  mileage_mpg fuel_type
0  24891855          8               10000.0           26    diesel
1  23946492          7               10000.0           24    diesel
2  13363106          9               20000.0           19       gas
3  14370115          9                6000.0           17       gas
4  18204175          7               20000.0           17       gas

Merge
 Truck Schedule with Route weather

In [29]:
truck_schedule_copy = truck_schedule_df.copy()

In [30]:
truck_schedule_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   truck_id           12308 non-null  int64
 1   route_id           12308 non-null  object
 2   departure_date     12308 non-null  datetime64[ns]
 3   estimated_arrival  12308 non-null  datetime64[ns]
 4   delay              12308 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 480.9+ KB

In [31]:
truck_schedule_copy.head(2)

   truck_id    route_id      departure_date   estimated_arrival  delay
0  16013013  R-581944e1 2019-02-09 07:00:00 2019-02-09 17:27:36      0
1  14223048  R-4f2e8b29 2019-02-03 07:00:00 2019-02-03 12:45:00      0

In [32]:
# Truck Schedule, route_weather

# Step 1: Adjust Time Data
truck_schedule_copy['estimated_arrival'] = pd.to_datetime(truck_schedule_copy['estimated_arrival']).dt.ceil('6H')
truck_schedule_copy['departure_date'] = pd.to_datetime(truck_schedule_copy['departure_date']).dt.floor('6H')

In [33]:

truck_schedule_copy['date'] = [
    pd.date_range(start=row['departure_date'], end=row['estimated_arrival'], freq='6H')
    for _, row in truck_schedule_copy.iterrows()
]

In [34]:
truck_schedule_copy.isnull().sum()

truck_id             0
route_id             0
departure_date       0
estimated_arrival    0
delay                0
date                 0
dtype: int64

In [35]:
truck_schedule_copy.shape

(12308, 6)

In [36]:
# Step 3: Explode the 'date' column to create separate rows for each date in the range
truck_schedule_copy = truck_schedule_copy.explode('date')

In [37]:
truck_schedule_copy = truck_schedule_copy.drop_duplicates()

In [38]:
truck_schedule_copy.shape

(71376, 6)

In [39]:
routes_weather_df.head(2)

,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,R-7075aabf,2019-01-20 12:00:00,50,4,Mist,0.0,96,1,1024
1,R-cbd11d97,2019-01-19 06:00:00,79,6,Sunny,0.0,63,6,1016

In [40]:
routes_weather_df.shape

(396149, 9)

In [41]:
# Step 4: Merge with route_weather data
routes_weather_df['date'] = pd.to_datetime(routes_weather_df['date'])  # Ensure the 'date' column is datetime type
merged_df = pd.merge(truck_schedule_copy, routes_weather_df, on=['route_id', 'date'], how='left')

In [42]:
merged_df.shape

(71376, 13)

In [43]:
merged_df.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,date,temp,wind_speed,description,precip,humidity,visibility,pressure
0,16013013,R-581944e1,2019-02-09 06:00:00,2019-02-09 18:00:00,0,2019-02-09 06:00:00,77.0,9.0,Sunny,0.0,47.0,6.0,1023.0
1,16013013,R-581944e1,2019-02-09 06:00:00,2019-02-09 18:00:00,0,2019-02-09 12:00:00,72.0,4.0,Patchy rain possible,0.0,66.0,6.0,1014.0
2,16013013,R-581944e1,2019-02-09 06:00:00,2019-02-09 18:00:00,0,2019-02-09 18:00:00,72.0,5.0,Patchy rain possible,0.0,71.0,6.0,1014.0
3,14223048,R-4f2e8b29,2019-02-03 06:00:00,2019-02-03 18:00:00,0,2019-02-03 06:00:00,79.0,3.0,Sunny,0.0,52.0,6.0,1014.0
4,14223048,R-4f2e8b29,2019-02-03 06:00:00,2019-02-03 18:00:00,0,2019-02-03 12:00:00,68.0,12.0,Clear,0.0,71.0,6.0,1019.0

In [44]:
merged_df.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
date                    0
temp                 5199
wind_speed           5199
description          5199
precip               5199
humidity             5199
visibility           5199
pressure             5199
dtype: int64

In [45]:
merged_df = merged_df.dropna()

In [46]:
merged_df.shape

(66177, 13)

In [47]:
merged_df.shape

(66177, 13)

In [48]:

# Step 5: Define a custom function to calculate mode
def custom_mode(x):
    modes = x.mode()
    if not modes.empty:
        return modes.iloc[0]
    else:
        return np.nan  # or return a default value or string indicating no mode

In [49]:

# Step 6: Group by and aggregate
grouped = merged_df.groupby(['truck_id', 'route_id'], as_index=False).agg(
    route_avg_temp=('temp', 'mean'),
    route_avg_wind_speed=('wind_speed', 'mean'),
    route_avg_precip=('precip', 'mean'),
    route_avg_humidity=('humidity', 'mean'),
    route_avg_visibility=('visibility', 'mean'),
    route_avg_pressure=('pressure', 'mean'),
    route_description=('description', custom_mode)
)

In [50]:
grouped

,truck_id,route_id,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,route_avg_pressure,route_description
0,10008392,R-06dfe39e,50.750000,6.416667,0.00,79.416667,5.833333,1015.250000,Partly cloudy
1,10008392,R-35dca729,56.600000,9.400000,0.00,72.200000,5.700000,1013.300000,Partly cloudy
2,10008392,R-51d1a32a,46.636364,8.909091,0.00,76.181818,6.000000,1016.818182,Partly cloudy
3,10008392,R-7ab5ae85,58.750000,7.000000,0.00,82.250000,4.000000,1016.000000,Sunny
4,10008392,R-c6f8e036,47.916667,6.166667,0.00,88.500000,5.583333,1011.000000,Clear
...,...,...,...,...,...,...,...,...,...
12192,99981667,R-abbf83d1,59.000000,7.500000,0.00,80.750000,5.500000,1014.500000,Light rain shower
12193,99981667,R-e9bf94ff,58.400000,3.000000,0.00,70.800000,4.400000,1016.400000,Sunny
12194,99981667,R-ed1094fd,64.500000,10.500000,0.00,42.500000,6.000000,1016.750000,Clear
12195,99981667,R-f363ad37,79.000000,11.800000,0.02,84.800000,4.800000,1013.600000,Clear
12196,99981667,R-f9aa6c3b,72.800000,11.000000,0.00,67.800000,6.000000,1012.000000,Sunny

In [51]:
grouped.isnull().sum()

truck_id                0
route_id                0
route_avg_temp          0
route_avg_wind_speed    0
route_avg_precip        0
route_avg_humidity      0
route_avg_visibility    0
route_avg_pressure      0
route_description       0
dtype: int64

In [52]:
# Step 7: Merge back to the schedule dataframe
schedule_weather_merge = pd.merge(truck_schedule_df, grouped, on=['truck_id', 'route_id'], how='left')

In [53]:
schedule_weather_merge.shape

(12308, 12)

In [54]:
schedule_weather_merge = schedule_weather_merge.drop_duplicates()

In [55]:
schedule_weather_merge.shape

(12308, 12)

In [56]:
schedule_weather_merge.isnull().sum()

truck_id                 0
route_id                 0
departure_date           0
estimated_arrival        0
delay                    0
route_avg_temp          43
route_avg_wind_speed    43
route_avg_precip        43
route_avg_humidity      43
route_avg_visibility    43
route_avg_pressure      43
route_description       43
dtype: int64

In [57]:

# Drop rows where any of the specified columns have null values
schedule_weather_merge = schedule_weather_merge.dropna()

In [58]:
schedule_weather_merge.shape

(12265, 12)

In [59]:
schedule_weather_merge

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,route_avg_pressure,route_description
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,73.666667,6.000000,0.0,61.333333,6.0,1017.000000,Patchy rain possible
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,71.000000,9.333333,0.0,65.000000,6.0,1017.333333,Clear
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,40.500000,9.500000,0.0,52.000000,6.0,1016.000000,Light snow
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,37.500000,19.500000,0.0,71.500000,6.0,1014.500000,Overcast
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,26.500000,7.000000,0.0,80.500000,5.5,1016.000000,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...
12303,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,74.000000,6.000000,0.0,42.500000,6.0,1016.000000,Light rain shower
12304,31664257,R-3df654f4,2019-01-29 07:00:00,2019-02-03 11:26:24,1,44.409091,5.636364,0.0,92.454545,3.0,1019.000000,Mist
12305,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,63.166667,3.166667,0.0,57.000000,6.0,1010.666667,Clear
12306,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,39.666667,14.000000,0.0,51.666667,6.0,1015.000000,Sunny
12307,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,51.600000,6.300000,0.0,83.200000,6.0,1025.100000,Clear

Merge with route table

In [60]:
nearest_hour_schedule_df=truck_schedule_df.copy()

In [61]:
nearest_hour_schedule_df['estimated_arrival_nearest_hour']=nearest_hour_schedule_df['estimated_arrival'].dt.round("H")
nearest_hour_schedule_df['departure_date_nearest_hour']=nearest_hour_schedule_df['departure_date'].dt.round("H")

nearest_hour_schedule_route_df=pd.merge(nearest_hour_schedule_df, routes_df, on='route_id', how='left')

In [62]:
nearest_hour_schedule_route_df

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,average_hours
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,C-328bd8d3,C-01660979,522.76,10.46
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,2019-02-03 13:00:00,2019-02-03 07:00:00,C-2aaf0e1a,C-d9e9d934,287.49,5.75
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,2019-01-26 00:00:00,2019-01-25 07:00:00,C-ef47bdcd,C-419cd14c,827.24,16.54
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,2019-02-01 02:00:00,2019-01-31 07:00:00,C-6ea51d66,C-927ceb5e,934.70,18.69
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,2019-01-31 12:00:00,2019-01-31 07:00:00,C-d80a1e7d,C-b6e04c88,240.42,4.81
...,...,...,...,...,...,...,...,...,...,...,...
12303,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,2019-01-10 22:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-e5bfb4e5,737.90,14.76
12304,31664257,R-3df654f4,2019-01-29 07:00:00,2019-02-03 11:26:24,1,2019-02-03 11:00:00,2019-01-29 07:00:00,NaN,NaN,NaN,NaN
12305,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,2019-01-11 06:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-c7cacd1d,1156.15,23.12
12306,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,2019-02-12 17:00:00,2019-02-12 07:00:00,C-c4565ee8,C-01660979,477.91,9.56
12307,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,2019-02-03 05:00:00,2019-01-29 07:00:00,NaN,NaN,NaN,NaN

In [63]:
nearest_hour_schedule_route_df.shape

(12308, 11)

In [64]:
nearest_hour_schedule_route_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   truck_id                        12308 non-null  int64
 1   route_id                        12308 non-null  object
 2   departure_date                  12308 non-null  datetime64[ns]
 3   estimated_arrival               12308 non-null  datetime64[ns]
 4   delay                           12308 non-null  int64
 5   estimated_arrival_nearest_hour  12308 non-null  datetime64[ns]
 6   departure_date_nearest_hour     12308 non-null  datetime64[ns]
 7   origin_id                       11449 non-null  object
 8   destination_id                  11449 non-null  object
 9   distance                        11449 non-null  float64
 10  average_hours                   11449 non-null  float64
dtypes: datetime64[ns](4), float64(2), int64(2), object(3)
memory usage: 1.0+ MB

In [65]:
nearest_hour_schedule_route_df.shape

(12308, 11)

In [66]:
nearest_hour_schedule_route_df.isnull().sum()

truck_id                            0
route_id                            0
departure_date                      0
estimated_arrival                   0
delay                               0
estimated_arrival_nearest_hour      0
departure_date_nearest_hour         0
origin_id                         859
destination_id                    859
distance                          859
average_hours                     859
dtype: int64

In [67]:

nearest_hour_schedule_route_df = nearest_hour_schedule_route_df.dropna()

In [68]:
nearest_hour_schedule_route_df.isnull().sum()

truck_id                          0
route_id                          0
departure_date                    0
estimated_arrival                 0
delay                             0
estimated_arrival_nearest_hour    0
departure_date_nearest_hour       0
origin_id                         0
destination_id                    0
distance                          0
average_hours                     0
dtype: int64

In [69]:
nearest_hour_schedule_route_df.shape

(11449, 11)

Merge with city weather

In [70]:

# Step 1: Create copies of the 'weather_df' for origin and destination weather manipulation
origin_weather_data = city_weather_df.copy()
destination_weather_data = city_weather_df.copy()

In [71]:
destination_weather_data.head()

,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,datetime
0,C-3dbd8b2e,34,5,Moderate or heavy sleet,0.1,98,4,1001,2019-02-09 03:00:00
1,C-e5bfb4e5,14,6,Cloudy,0.0,59,6,1026,2019-01-18 09:00:00
2,C-731988ba,82,6,Sunny,0.0,49,6,1011,2019-02-10 13:00:00
3,C-ef47bdcd,25,9,Clear,0.0,68,6,1016,2019-01-28 01:00:00
4,C-2c9e75ef,27,6,Clear,0.0,59,6,1030,2019-01-20 02:00:00

In [72]:
origin_weather_data.head()

,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,datetime
0,C-3dbd8b2e,34,5,Moderate or heavy sleet,0.1,98,4,1001,2019-02-09 03:00:00
1,C-e5bfb4e5,14,6,Cloudy,0.0,59,6,1026,2019-01-18 09:00:00
2,C-731988ba,82,6,Sunny,0.0,49,6,1011,2019-02-10 13:00:00
3,C-ef47bdcd,25,9,Clear,0.0,68,6,1016,2019-01-28 01:00:00
4,C-2c9e75ef,27,6,Clear,0.0,59,6,1030,2019-01-20 02:00:00

In [73]:
nearest_hour_schedule_route_df

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,average_hours
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,C-328bd8d3,C-01660979,522.76,10.46
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,2019-02-03 13:00:00,2019-02-03 07:00:00,C-2aaf0e1a,C-d9e9d934,287.49,5.75
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,2019-01-26 00:00:00,2019-01-25 07:00:00,C-ef47bdcd,C-419cd14c,827.24,16.54
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,2019-02-01 02:00:00,2019-01-31 07:00:00,C-6ea51d66,C-927ceb5e,934.70,18.69
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,2019-01-31 12:00:00,2019-01-31 07:00:00,C-d80a1e7d,C-b6e04c88,240.42,4.81
...,...,...,...,...,...,...,...,...,...,...,...
12301,16325476,R-eaef7c11,2019-02-03 07:00:00,2019-02-03 18:55:12,0,2019-02-03 19:00:00,2019-02-03 07:00:00,C-b5ff31cd,C-280b55fb,595.88,11.92
12302,18895478,R-38d1e82d,2019-02-12 07:00:00,2019-02-12 20:13:48,0,2019-02-12 20:00:00,2019-02-12 07:00:00,C-a9f2c329,C-c7cacd1d,661.29,13.23
12303,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,2019-01-10 22:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-e5bfb4e5,737.90,14.76
12305,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,2019-01-11 06:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-c7cacd1d,1156.15,23.12
12306,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,2019-02-12 17:00:00,2019-02-12 07:00:00,C-c4565ee8,C-01660979,477.91,9.56

In [74]:
# Step 3: Merge 'nearest_hour_schedule_route_df' with 'origin_weather_data'
# Assuming there's a common column 'origin_id' in 'nearest_hour_schedule_route_df' that matches 'route_id' in 'origin_weather_data'
origin_weather_merge = pd.merge(nearest_hour_schedule_route_df, origin_weather_data, left_on=['origin_id','departure_date_nearest_hour'], right_on=['city_id','datetime'], how='left')

In [75]:
origin_weather_merge.shape

(11449, 20)

In [76]:
origin_weather_merge.isnull().sum()

truck_id                            0
route_id                            0
departure_date                      0
estimated_arrival                   0
delay                               0
estimated_arrival_nearest_hour      0
departure_date_nearest_hour         0
origin_id                           0
destination_id                      0
distance                            0
average_hours                       0
city_id                           552
temp                              552
wind_speed                        552
description                       552
precip                            552
humidity                          552
visibility                        552
pressure                          552
datetime                          552
dtype: int64

In [77]:
origin_weather_merge = origin_weather_merge.drop_duplicates()

In [78]:
origin_weather_merge.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'estimated_arrival_nearest_hour', 'departure_date_nearest_hour',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'city_id',
       'temp', 'wind_speed', 'description', 'precip', 'humidity', 'visibility',
       'pressure', 'datetime'],
      dtype='object')

In [79]:
origin_weather_merge = origin_weather_merge.dropna()

In [80]:
# Step 4: Merge 'origin_weather_merge' with 'destination_weather_data'
# Assuming there's a common column 'destination_id' in 'origin_weather_merge' that matches 'route_id' in 'destination_weather_data'
destination_weather_merge = pd.merge(origin_weather_merge, destination_weather_data, left_on=['destination_id','estimated_arrival_nearest_hour'], right_on=['city_id','datetime'], how='left', suffixes=('_origin', '_destination'))

In [81]:
destination_weather_merge

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,...,datetime_origin,city_id_destination,temp_destination,wind_speed_destination,description_destination,precip_destination,humidity_destination,visibility_destination,pressure_destination,datetime_destination
0,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,2019-02-03 13:00:00,2019-02-03 07:00:00,C-2aaf0e1a,C-d9e9d934,287.49,...,2019-02-03 07:00:00,C-d9e9d934,48.0,4.0,Partly cloudy,0.0,71.0,6.0,1021.0,2019-02-03 13:00:00
1,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,2019-01-26 00:00:00,2019-01-25 07:00:00,C-ef47bdcd,C-419cd14c,827.24,...,2019-01-25 07:00:00,C-419cd14c,50.0,1.0,Clear,0.0,73.0,6.0,1025.0,2019-01-26 00:00:00
2,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,2019-02-01 02:00:00,2019-01-31 07:00:00,C-6ea51d66,C-927ceb5e,934.70,...,2019-01-31 07:00:00,C-927ceb5e,0.0,6.0,Heavy snow,0.0,81.0,4.0,1024.0,2019-02-01 02:00:00
3,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,2019-01-31 12:00:00,2019-01-31 07:00:00,C-d80a1e7d,C-b6e04c88,240.42,...,2019-01-31 07:00:00,C-b6e04c88,16.0,9.0,Overcast,0.0,46.0,6.0,1030.0,2019-01-31 12:00:00
4,22695998,R-41fb82a2,2019-02-06 07:00:00,2019-02-06 13:59:24,0,2019-02-06 14:00:00,2019-02-06 07:00:00,C-c4565ee8,C-9bbf5d8a,349.44,...,2019-02-06 07:00:00,C-9bbf5d8a,70.0,9.0,Overcast,0.0,70.0,6.0,1017.0,2019-02-06 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10892,16325476,R-eaef7c11,2019-02-03 07:00:00,2019-02-03 18:55:12,0,2019-02-03 19:00:00,2019-02-03 07:00:00,C-b5ff31cd,C-280b55fb,595.88,...,2019-02-03 07:00:00,C-280b55fb,45.0,9.0,Light drizzle,0.0,98.0,1.0,1004.0,2019-02-03 19:00:00
10893,18895478,R-38d1e82d,2019-02-12 07:00:00,2019-02-12 20:13:48,0,2019-02-12 20:00:00,2019-02-12 07:00:00,C-a9f2c329,C-c7cacd1d,661.29,...,2019-02-12 07:00:00,C-c7cacd1d,37.0,14.0,Moderate rain,0.1,90.0,5.0,1000.0,2019-02-12 20:00:00
10894,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,2019-01-10 22:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-e5bfb4e5,737.90,...,2019-01-10 07:00:00,C-e5bfb4e5,19.0,5.0,Partly cloudy,0.0,71.0,6.0,1029.0,2019-01-10 22:00:00
10895,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,2019-01-11 06:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-c7cacd1d,1156.15,...,2019-01-10 07:00:00,C-c7cacd1d,12.0,5.0,Patchy moderate snow,0.0,81.0,4.0,1028.0,2019-01-11 06:00:00
10896,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,2019-02-12 17:00:00,2019-02-12 07:00:00,C-c4565ee8,C-01660979,477.91,...,2019-02-12 07:00:00,C-01660979,36.0,13.0,Heavy rain,0.1,94.0,4.0,1016.0,2019-02-12 17:00:00

In [82]:
destination_weather_merge.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'estimated_arrival_nearest_hour', 'departure_date_nearest_hour',
       'origin_id', 'destination_id', 'distance', 'average_hours',
       'city_id_origin', 'temp_origin', 'wind_speed_origin',
       'description_origin', 'precip_origin', 'humidity_origin',
       'visibility_origin', 'pressure_origin', 'datetime_origin',
       'city_id_destination', 'temp_destination', 'wind_speed_destination',
       'description_destination', 'precip_destination', 'humidity_destination',
       'visibility_destination', 'pressure_destination',
       'datetime_destination'],
      dtype='object')

In [83]:
destination_weather_merge = destination_weather_merge.drop_duplicates()

In [84]:
destination_weather_merge

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,...,datetime_origin,city_id_destination,temp_destination,wind_speed_destination,description_destination,precip_destination,humidity_destination,visibility_destination,pressure_destination,datetime_destination
0,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,2019-02-03 13:00:00,2019-02-03 07:00:00,C-2aaf0e1a,C-d9e9d934,287.49,...,2019-02-03 07:00:00,C-d9e9d934,48.0,4.0,Partly cloudy,0.0,71.0,6.0,1021.0,2019-02-03 13:00:00
1,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,2019-01-26 00:00:00,2019-01-25 07:00:00,C-ef47bdcd,C-419cd14c,827.24,...,2019-01-25 07:00:00,C-419cd14c,50.0,1.0,Clear,0.0,73.0,6.0,1025.0,2019-01-26 00:00:00
2,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,2019-02-01 02:00:00,2019-01-31 07:00:00,C-6ea51d66,C-927ceb5e,934.70,...,2019-01-31 07:00:00,C-927ceb5e,0.0,6.0,Heavy snow,0.0,81.0,4.0,1024.0,2019-02-01 02:00:00
3,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,2019-01-31 12:00:00,2019-01-31 07:00:00,C-d80a1e7d,C-b6e04c88,240.42,...,2019-01-31 07:00:00,C-b6e04c88,16.0,9.0,Overcast,0.0,46.0,6.0,1030.0,2019-01-31 12:00:00
4,22695998,R-41fb82a2,2019-02-06 07:00:00,2019-02-06 13:59:24,0,2019-02-06 14:00:00,2019-02-06 07:00:00,C-c4565ee8,C-9bbf5d8a,349.44,...,2019-02-06 07:00:00,C-9bbf5d8a,70.0,9.0,Overcast,0.0,70.0,6.0,1017.0,2019-02-06 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10892,16325476,R-eaef7c11,2019-02-03 07:00:00,2019-02-03 18:55:12,0,2019-02-03 19:00:00,2019-02-03 07:00:00,C-b5ff31cd,C-280b55fb,595.88,...,2019-02-03 07:00:00,C-280b55fb,45.0,9.0,Light drizzle,0.0,98.0,1.0,1004.0,2019-02-03 19:00:00
10893,18895478,R-38d1e82d,2019-02-12 07:00:00,2019-02-12 20:13:48,0,2019-02-12 20:00:00,2019-02-12 07:00:00,C-a9f2c329,C-c7cacd1d,661.29,...,2019-02-12 07:00:00,C-c7cacd1d,37.0,14.0,Moderate rain,0.1,90.0,5.0,1000.0,2019-02-12 20:00:00
10894,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,2019-01-10 22:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-e5bfb4e5,737.90,...,2019-01-10 07:00:00,C-e5bfb4e5,19.0,5.0,Partly cloudy,0.0,71.0,6.0,1029.0,2019-01-10 22:00:00
10895,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,2019-01-11 06:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-c7cacd1d,1156.15,...,2019-01-10 07:00:00,C-c7cacd1d,12.0,5.0,Patchy moderate snow,0.0,81.0,4.0,1028.0,2019-01-11 06:00:00
10896,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,2019-02-12 17:00:00,2019-02-12 07:00:00,C-c4565ee8,C-01660979,477.91,...,2019-02-12 07:00:00,C-01660979,36.0,13.0,Heavy rain,0.1,94.0,4.0,1016.0,2019-02-12 17:00:00

In [85]:
destination_weather_merge.isnull().sum()

truck_id                            0
route_id                            0
departure_date                      0
estimated_arrival                   0
delay                               0
estimated_arrival_nearest_hour      0
departure_date_nearest_hour         0
origin_id                           0
destination_id                      0
distance                            0
average_hours                       0
city_id_origin                      0
temp_origin                         0
wind_speed_origin                   0
description_origin                  0
precip_origin                       0
humidity_origin                     0
visibility_origin                   0
pressure_origin                     0
datetime_origin                     0
city_id_destination               191
temp_destination                  191
wind_speed_destination            191
description_destination           191
precip_destination                191
humidity_destination              191
visibility_destination            191
pressure_destination              191
datetime_destination              191
dtype: int64

In [86]:
destination_weather_merge = destination_weather_merge.dropna()

In [87]:
destination_weather_merge.shape

(10706, 29)

In [88]:
schedule_copy = truck_schedule_df.copy()

In [89]:
schedule_copy['departure_date'] = pd.to_datetime(
    schedule_copy['departure_date'])
schedule_copy['estimated_arrival'] = pd.to_datetime(
    schedule_copy['estimated_arrival'])

# Round to nearest hour
schedule_copy['departure_date'] = schedule_copy['departure_date'].dt.round('H')
schedule_copy['estimated_arrival'] = schedule_copy['estimated_arrival'].dt.round(
    'H')

# Display the update

In [90]:
hourly_exploded_scheduled_df = (nearest_hour_schedule_df.assign(custom_date=[pd.date_range(start, end, freq='H')  # Create custom date ranges
                                                                             for start, end
                                                                             # Using departure and estimated arrival times
                                                                             in zip(nearest_hour_schedule_df['departure_date'], nearest_hour_schedule_df['estimated_arrival'])])
                                # Explode the DataFrame based on the custom date range
                                .explode('custom_date', ignore_index=True))

In [91]:
hourly_exploded_scheduled_df.sort_values(by=['route_id','departure_date'])

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,custom_date
187124,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 07:00:00
187125,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00
187126,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 09:00:00
187127,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 10:00:00
187128,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 11:00:00
...,...,...,...,...,...,...,...,...
245399,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 18:00:00
245400,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 19:00:00
245401,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 20:00:00
245402,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 21:00:00
245403,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 22:00:00

In [92]:
traffic_df['datetime'] = pd.to_datetime(traffic_df['datetime'])

In [93]:
traffic_df.head(2)

     route_id  no_of_vehicles  accident            datetime
0  R-73655c9a           633.0         0 2019-01-17 07:00:00
1  R-ddfed5ea           624.0         0 2019-01-26 16:00:00

In [94]:
scheduled_traffic=hourly_exploded_scheduled_df.merge(traffic_df,left_on=['route_id','custom_date'],right_on=['route_id','datetime'],how='left')

In [95]:
scheduled_traffic = scheduled_traffic.drop_duplicates()

In [96]:
scheduled_traffic

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,custom_date,no_of_vehicles,accident,datetime
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,2019-02-09 07:00:00,2055.0,0.0,2019-02-09 07:00:00
1,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,2019-02-09 08:00:00,2418.0,0.0,2019-02-09 08:00:00
2,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,2019-02-09 09:00:00,2223.0,0.0,2019-02-09 09:00:00
3,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,2019-02-09 10:00:00,2148.0,0.0,2019-02-09 10:00:00
4,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,2019-02-09 17:00:00,2019-02-09 07:00:00,2019-02-09 11:00:00,2631.0,0.0,2019-02-09 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...
311660,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,2019-02-03 05:00:00,2019-01-29 07:00:00,2019-02-03 01:00:00,616.0,0.0,2019-02-03 01:00:00
311661,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,2019-02-03 05:00:00,2019-01-29 07:00:00,2019-02-03 02:00:00,486.0,0.0,2019-02-03 02:00:00
311662,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,2019-02-03 05:00:00,2019-01-29 07:00:00,2019-02-03 03:00:00,NaN,NaN,NaT
311663,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,2019-02-03 05:00:00,2019-01-29 07:00:00,2019-02-03 04:00:00,439.0,0.0,2019-02-03 04:00:00
311664,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,2019-02-03 05:00:00,2019-01-29 07:00:00,2019-02-03 05:00:00,612.0,0.0,2019-02-03 05:00:00

In [97]:
def custom_agg(values):
  if any(values == 1):
    return 1
  else:
    return 0

In [98]:
scheduled_route_traffic = scheduled_traffic.groupby(['truck_id', 'route_id'], as_index=False).agg(
                           avg_no_of_vehicles=('no_of_vehicles', 'mean'),
                           accident=('accident', custom_agg)
                       )

In [99]:
scheduled_route_traffic

       truck_id    route_id  avg_no_of_vehicles  accident
0      10008392  R-06dfe39e         1883.086207         0
1      10008392  R-35dca729         1833.734694         0
2      10008392  R-51d1a32a         1522.763636         0
3      10008392  R-7ab5ae85         1976.000000         0
4      10008392  R-c6f8e036          812.438596         0
...         ...         ...                 ...       ...
12235  99981667  R-abbf83d1         1792.812500         0
12236  99981667  R-e9bf94ff         2074.166667         0
12237  99981667  R-ed1094fd         1915.666667         0
12238  99981667  R-f363ad37         1831.750000         0
12239  99981667  R-f9aa6c3b         1772.500000         0

[12240 rows x 4 columns]

In [100]:
origin_destination_weather_traffic_merge=destination_weather_merge.merge(scheduled_route_traffic,on=['truck_id','route_id'],how='left')

In [101]:
origin_destination_weather_traffic_merge = origin_destination_weather_traffic_merge.drop_duplicates()
origin_destination_weather_traffic_merge

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,...,temp_destination,wind_speed_destination,description_destination,precip_destination,humidity_destination,visibility_destination,pressure_destination,datetime_destination,avg_no_of_vehicles,accident
0,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,2019-02-03 13:00:00,2019-02-03 07:00:00,C-2aaf0e1a,C-d9e9d934,287.49,...,48.0,4.0,Partly cloudy,0.0,71.0,6.0,1021.0,2019-02-03 13:00:00,2071.400000,0
1,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,2019-01-26 00:00:00,2019-01-25 07:00:00,C-ef47bdcd,C-419cd14c,827.24,...,50.0,1.0,Clear,0.0,73.0,6.0,1025.0,2019-01-26 00:00:00,2201.312500,0
2,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,2019-02-01 02:00:00,2019-01-31 07:00:00,C-6ea51d66,C-927ceb5e,934.70,...,0.0,6.0,Heavy snow,0.0,81.0,4.0,1024.0,2019-02-01 02:00:00,2110.500000,0
3,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,2019-01-31 12:00:00,2019-01-31 07:00:00,C-d80a1e7d,C-b6e04c88,240.42,...,16.0,9.0,Overcast,0.0,46.0,6.0,1030.0,2019-01-31 12:00:00,2200.200000,0
4,22695998,R-41fb82a2,2019-02-06 07:00:00,2019-02-06 13:59:24,0,2019-02-06 14:00:00,2019-02-06 07:00:00,C-c4565ee8,C-9bbf5d8a,349.44,...,70.0,9.0,Overcast,0.0,70.0,6.0,1017.0,2019-02-06 14:00:00,2004.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10701,16325476,R-eaef7c11,2019-02-03 07:00:00,2019-02-03 18:55:12,0,2019-02-03 19:00:00,2019-02-03 07:00:00,C-b5ff31cd,C-280b55fb,595.88,...,45.0,9.0,Light drizzle,0.0,98.0,1.0,1004.0,2019-02-03 19:00:00,2012.545455,0
10702,18895478,R-38d1e82d,2019-02-12 07:00:00,2019-02-12 20:13:48,0,2019-02-12 20:00:00,2019-02-12 07:00:00,C-a9f2c329,C-c7cacd1d,661.29,...,37.0,14.0,Moderate rain,0.1,90.0,5.0,1000.0,2019-02-12 20:00:00,145.769231,0
10703,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,2019-01-10 22:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-e5bfb4e5,737.90,...,19.0,5.0,Partly cloudy,0.0,71.0,6.0,1029.0,2019-01-10 22:00:00,2176.333333,0
10704,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,2019-01-11 06:00:00,2019-01-10 07:00:00,C-2c9e75ef,C-c7cacd1d,1156.15,...,12.0,5.0,Patchy moderate snow,0.0,81.0,4.0,1028.0,2019-01-11 06:00:00,1694.541667,0
10705,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,2019-02-12 17:00:00,2019-02-12 07:00:00,C-c4565ee8,C-01660979,477.91,...,36.0,13.0,Heavy rain,0.1,94.0,4.0,1016.0,2019-02-12 17:00:00,2180.555556,0

In [102]:
origin_destination_weather_traffic_merge.isnull().sum()

truck_id                          0
route_id                          0
departure_date                    0
estimated_arrival                 0
delay                             0
estimated_arrival_nearest_hour    0
departure_date_nearest_hour       0
origin_id                         0
destination_id                    0
distance                          0
average_hours                     0
city_id_origin                    0
temp_origin                       0
wind_speed_origin                 0
description_origin                0
precip_origin                     0
humidity_origin                   0
visibility_origin                 0
pressure_origin                   0
datetime_origin                   0
city_id_destination               0
temp_destination                  0
wind_speed_destination            0
description_destination           0
precip_destination                0
humidity_destination              0
visibility_destination            0
pressure_destination              0
datetime_destination              0
avg_no_of_vehicles                7
accident                          0
dtype: int64

In [103]:
merged_data_weather_traffic=pd.merge(schedule_weather_merge, origin_destination_weather_traffic_merge, on=['truck_id', 'route_id', 'departure_date','estimated_arrival', 'delay'], how='left')

In [104]:
merged_data_weather_traffic = merged_data_weather_traffic.drop_duplicates()

In [105]:
merged_data_weather_traffic

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,temp_destination,wind_speed_destination,description_destination,precip_destination,humidity_destination,visibility_destination,pressure_destination,datetime_destination,avg_no_of_vehicles,accident
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,73.666667,6.000000,0.0,61.333333,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,71.000000,9.333333,0.0,65.000000,6.0,...,48.0,4.0,Partly cloudy,0.0,71.0,6.0,1021.0,2019-02-03 13:00:00,2071.400000,0.0
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,40.500000,9.500000,0.0,52.000000,6.0,...,50.0,1.0,Clear,0.0,73.0,6.0,1025.0,2019-01-26 00:00:00,2201.312500,0.0
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,37.500000,19.500000,0.0,71.500000,6.0,...,0.0,6.0,Heavy snow,0.0,81.0,4.0,1024.0,2019-02-01 02:00:00,2110.500000,0.0
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,26.500000,7.000000,0.0,80.500000,5.5,...,16.0,9.0,Overcast,0.0,46.0,6.0,1030.0,2019-01-31 12:00:00,2200.200000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12260,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,74.000000,6.000000,0.0,42.500000,6.0,...,19.0,5.0,Partly cloudy,0.0,71.0,6.0,1029.0,2019-01-10 22:00:00,2176.333333,0.0
12261,31664257,R-3df654f4,2019-01-29 07:00:00,2019-02-03 11:26:24,1,44.409091,5.636364,0.0,92.454545,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
12262,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,63.166667,3.166667,0.0,57.000000,6.0,...,12.0,5.0,Patchy moderate snow,0.0,81.0,4.0,1028.0,2019-01-11 06:00:00,1694.541667,0.0
12263,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,39.666667,14.000000,0.0,51.666667,6.0,...,36.0,13.0,Heavy rain,0.1,94.0,4.0,1016.0,2019-02-12 17:00:00,2180.555556,0.0
12264,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,51.600000,6.300000,0.0,83.200000,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [106]:
merged_data_weather_traffic_trucks = pd.merge(merged_data_weather_traffic, trucks_df, on='truck_id', how='left')

In [107]:
final_merge_dataset = pd.merge(merged_data_weather_traffic_trucks, drivers_df, left_on='truck_id', right_on = 'vehicle_no', how='left')

In [108]:
def has_midnight(start, end):
   return int(start.date() != end.date())

In [109]:
final_merge_dataset['is_midnight'] = final_merge_dataset.apply(lambda row: has_midnight(row['departure_date'], row['estimated_arrival']), axis=1)

In [110]:
final_merge_dataset.shape

(12265, 52)

In [111]:
final_merge_dataset.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'route_avg_temp', 'route_avg_wind_speed', 'route_avg_precip',
       'route_avg_humidity', 'route_avg_visibility', 'route_avg_pressure',
       'route_description', 'estimated_arrival_nearest_hour',
       'departure_date_nearest_hour', 'origin_id', 'destination_id',
       'distance', 'average_hours', 'city_id_origin', 'temp_origin',
       'wind_speed_origin', 'description_origin', 'precip_origin',
       'humidity_origin', 'visibility_origin', 'pressure_origin',
       'datetime_origin', 'city_id_destination', 'temp_destination',
       'wind_speed_destination', 'description_destination',
       'precip_destination', 'humidity_destination', 'visibility_destination',
       'pressure_destination', 'datetime_destination', 'avg_no_of_vehicles',
       'accident', 'truck_age', 'load_capacity_pounds', 'mileage_mpg',
       'fuel_type', 'driver_id', 'name', 'gender', 'age', 'experience',
       'driving_style', 'ratings', 'vehicle_no', 'average_speed_mph',
       'is_midnight'],
      dtype='object')

In [112]:
final_merge_dataset = final_merge_dataset.drop(columns=['city_id_origin','city_id_destination','datetime_origin'])

In [113]:
final_merge_dataset = final_merge_dataset.drop_duplicates()
final_merge_dataset

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
0,16013013,R-581944e1,2019-02-09 07:00:00,2019-02-09 17:27:36,0,73.666667,6.000000,0.0,61.333333,6.0,...,cecc7454-3,Jose Chavez,male,54.0,15.0,proactive,5.0,16013013.0,63.15,0
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,71.000000,9.333333,0.0,65.000000,6.0,...,3bbf043d-e,Joshua Reed,male,36.0,4.0,proactive,8.0,14223048.0,59.21,0
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,40.500000,9.500000,0.0,52.000000,6.0,...,174eb703-c,Manuel Jimenez,male,42.0,8.0,conservative,3.0,22748353.0,29.32,0
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,37.500000,19.500000,0.0,71.500000,6.0,...,4443488d-8,Gregory Rios,male,49.0,3.0,conservative,8.0,27677000.0,48.22,1
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,26.500000,7.000000,0.0,80.500000,5.5,...,ccabea2a-2,Alexander Fischer,male,46.0,5.0,conservative,2.0,33250272.0,42.96,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12260,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,74.000000,6.000000,0.0,42.500000,6.0,...,000546f3-a,Joshua Hayes,male,37.0,3.0,proactive,7.0,14316933.0,60.67,0
12261,31664257,R-3df654f4,2019-01-29 07:00:00,2019-02-03 11:26:24,1,44.409091,5.636364,0.0,92.454545,3.0,...,08d2e904-2,Christopher Day,male,49.0,9.0,conservative,3.0,31664257.0,41.26,1
12262,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,63.166667,3.166667,0.0,57.000000,6.0,...,44cd2206-b,Jenna Robertson,female,49.0,0.0,proactive,4.0,18850246.0,60.32,1
12263,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,39.666667,14.000000,0.0,51.666667,6.0,...,41d949f2-1,Dr. Dakota Thomas,male,43.0,5.0,proactive,3.0,14370115.0,59.43,0
12264,86291484,R-0f9c5616,2019-01-29 07:00:00,2019-02-03 05:01:12,1,51.600000,6.300000,0.0,83.200000,6.0,...,9ac5e2d4-3,Donald Garza,male,44.0,5.0,conservative,4.0,86291484.0,41.34,1

In [114]:
final_merge_dataset.shape

(12265, 49)

In [115]:
final_merge_dataset.isnull().sum()

truck_id                             0
route_id                             0
departure_date                       0
estimated_arrival                    0
delay                                0
route_avg_temp                       0
route_avg_wind_speed                 0
route_avg_precip                     0
route_avg_humidity                   0
route_avg_visibility                 0
route_avg_pressure                   0
route_description                    0
estimated_arrival_nearest_hour    1600
departure_date_nearest_hour       1600
origin_id                         1600
destination_id                    1600
distance                          1600
average_hours                     1600
temp_origin                       1600
wind_speed_origin                 1600
description_origin                1600
precip_origin                     1600
humidity_origin                   1600
visibility_origin                 1600
pressure_origin                   1600
temp_destination                  1600
wind_speed_destination            1600
description_destination           1600
precip_destination                1600
humidity_destination              1600
visibility_destination            1600
pressure_destination              1600
datetime_destination              1600
avg_no_of_vehicles                1607
accident                          1600
truck_age                           59
load_capacity_pounds                59
mileage_mpg                         59
fuel_type                           59
driver_id                          155
name                               155
gender                             155
age                                155
experience                         155
driving_style                      155
ratings                            155
vehicle_no                         155
average_speed_mph                  155
is_midnight                          0
dtype: int64

In [116]:
final_merge_dataset.dropna()

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
1,14223048,R-4f2e8b29,2019-02-03 07:00:00,2019-02-03 12:45:00,0,71.000000,9.333333,0.0,65.000000,6.0,...,3bbf043d-e,Joshua Reed,male,36.0,4.0,proactive,8.0,14223048.0,59.21,0
2,22748353,R-73f77646,2019-01-25 07:00:00,2019-01-25 23:32:24,0,40.500000,9.500000,0.0,52.000000,6.0,...,174eb703-c,Manuel Jimenez,male,42.0,8.0,conservative,3.0,22748353.0,29.32,0
3,27677000,R-7430e046,2019-01-31 07:00:00,2019-02-01 01:41:24,1,37.500000,19.500000,0.0,71.500000,6.0,...,4443488d-8,Gregory Rios,male,49.0,3.0,conservative,8.0,27677000.0,48.22,1
4,33250272,R-d9f80fa7,2019-01-31 07:00:00,2019-01-31 11:48:36,0,26.500000,7.000000,0.0,80.500000,5.5,...,ccabea2a-2,Alexander Fischer,male,46.0,5.0,conservative,2.0,33250272.0,42.96,0
5,22695998,R-41fb82a2,2019-02-06 07:00:00,2019-02-06 13:59:24,0,52.666667,11.333333,0.0,72.000000,6.0,...,08e0c7de-9,Donald Brooks,male,46.0,11.0,proactive,6.0,22695998.0,57.41,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12258,16325476,R-eaef7c11,2019-02-03 07:00:00,2019-02-03 18:55:12,0,54.500000,7.000000,0.0,85.000000,6.0,...,e7e3e7da-2,Jeffrey Lowe,male,50.0,12.0,proactive,5.0,16325476.0,58.05,0
12259,18895478,R-38d1e82d,2019-02-12 07:00:00,2019-02-12 20:13:48,0,21.000000,4.000000,0.0,83.000000,6.0,...,76edc26a-9,John Hoover,male,50.0,8.0,proactive,7.0,18895478.0,60.80,0
12260,14316933,R-8fdff50b,2019-01-10 07:00:00,2019-01-10 21:45:36,0,74.000000,6.000000,0.0,42.500000,6.0,...,000546f3-a,Joshua Hayes,male,37.0,3.0,proactive,7.0,14316933.0,60.67,0
12262,18850246,R-03ec1b30,2019-01-10 07:00:00,2019-01-11 06:07:12,0,63.166667,3.166667,0.0,57.000000,6.0,...,44cd2206-b,Jenna Robertson,female,49.0,0.0,proactive,4.0,18850246.0,60.32,1
12263,14370115,R-d372b2ff,2019-02-12 07:00:00,2019-02-12 16:33:36,0,39.666667,14.000000,0.0,51.666667,6.0,...,41d949f2-1,Dr. Dakota Thomas,male,43.0,5.0,proactive,3.0,14370115.0,59.43,0